main_analysis/files/election_results_by_candidate/kv-2012_teat_maa.csv
main_analysis/files/election_results_by_candidate/kv-2017_teat_maa.csv
main_analysis/files/election_results_by_candidate/kv-2021_teat_maa.csv
main_analysis/files/election_results_by_candidate/kv-2025_teat_maa.csv
